:root, body {
	font-family: Arial, Helvetica, sans-serif;

	--grey-color: hsl(208deg 7% 46%);
	--grey-color-darken: hsl(208deg 7% 36%);
	--grey-color-lighten: hsl(208deg 7% 56%);
	--grey-color-faded: hsl(208deg 7% 36% / .5);

	--primary-color: hsl(211 100% 50%);
	--primary-color-darken: hsl(211 100% 40%);
	--primary-color-lighten: hsl(211 100% 70%);
	--primary-color-faded: hsl(211 100% 40% / .5);

	--secondary-color: hsl(208deg 7% 46%);
	--secondary-color-darken: hsl(208deg 7% 36%);
	--secondary-color-lighten: hsl(208deg 7% 66%);
	--secondary-color-faded: hsl(208deg 7% 36% / .5);

	--success-color: hsl(134deg 61% 41%);
	--success-color-darken: hsl(134deg 61% 31%);
	--success-color-lighten: hsl(134deg 61% 61%);
	--success-color-faded: hsl(134deg 61% 31% / .5);

	--danger-color: hsl(354deg 70% 54%);
	--danger-color-darken: hsl(354deg 70% 44%);
	--danger-color-lighten: hsl(354deg 70% 74%);
	--danger-color-faded: hsl(354deg 70% 44% / .5);

	--warning-color: hsl(45deg 100% 51%);
	--warning-color-darken: hsl(45deg 100% 41%);
	--warning-color-lighten: hsl(45deg 100% 71%);
	--warning-color-faded: hsl(45deg 100% 41% / .5);

	--info-color: hsl(188deg 78% 41%);
	--info-color-darken: hsl(188deg 78% 31%);
	--info-color-lighten: hsl(188deg 78% 61%);
	--info-color-faded: hsl(188deg 78% 31% / .5);
	
	--light-color: hsl(210deg 17% 98%);
	--light-color-darken: hsl(210deg 17% 88%);
	--light-color-lighten: hsl(210deg 17% 78%);
	--light-color-faded: hsl(210deg 17% 88% / .5);

	--dark-color: hsl(210deg 11% 15%);
	--dark-color-darken: hsl(210deg 11% 25%);
	--dark-color-lighten: hsl(210deg 11% 45%);
	--dark-color-faded: hsl(210deg 11% 5% / .5);
}

body {
	margin: 0;
}

.container {
	margin: 2rem 0;
	padding: 0 2rem;
}