.btn {
	/*	styling */
	display: inline-block;
	cursor: pointer;
    border-radius: .25rem;
	outline: none;
	user-select: none;
	text-decoration: none;
	margin-top: 0.175rem;
	margin-bottom: 0.175rem;

	transition-duration: .15s;
	transition-timing-function: ease;
	transition-property: border-color background-color box-shadow;


	/*	Default values */
	--btn-text-color-idle: var(--light-color);
	--btn-text-color-hover: var(--btn-text-color-idle);
	--btn-text-color-disabled: var(--light-color);

	--btn-background-color-idle: var(--primary-color);
	--btn-background-color-hover: var(--primary-color-darken);
	--btn-background-color-disable: var(--primary-color-lighten);

	--btn-border-color-idle: var(--primary-color);
	--btn-border-color-hover: var(--primary-color-darken);
	--btn-border-color-disable: var(--primary-color-lighten);

	--btn-outline-color-idle: #fff0;
	--btn-outline-color-focus: var(--primary-color-faded);

	--btn-size: .5rem .75rem;

	
	/*	design logic */
	padding: var(--btn-size);

	--current-btn-outline-size: 0;
	--current-btn-outline-color: var(--btn-outline-color-idle);
	box-shadow: 0 0 0 var(--current-btn-outline-size) var(--current-btn-outline-color);

	--current-btn-text-color: var(--btn-text-color-idle);
	color: var(--current-btn-text-color);

	--current-btn-border-color: var(--btn-border-color-idle);
	border: solid 2px var(--current-btn-border-color);
	
	--current-btn-background-color: var(--btn-background-color-idle);
	background-color: var(--current-btn-background-color);
}

.btn:focus:not(:disabled):not(.disabled),
.btn:hover:not(:disabled):not(.disabled),
.btn.active:not(:disabled):not(.disabled) {
	--current-btn-background-color: var(--btn-background-color-hover);
	--current-btn-border-color: var(--btn-border-color-hover);
	--current-btn-text-color: var(--btn-text-color-hover);
}

.btn:focus {
	--current-btn-outline-size: 0.2rem;
	--current-btn-outline-color: var(--btn-outline-color-focus);
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	--current-text-color: var(--btn-text-color-disabled);
	--current-btn-background-color: var(--btn-background-color-disable);
	--current-btn-border-color: var(--btn-border-color-disable);
}

/* BTN OUTLINE */
.btn.btn-outline:not(.btn-link),
.btn.btn-outline.disabled:not(.btn-link),
.btn.btn-outline:disabled:not(.btn-link) {
	--btn-background-color-idle: transparent;
	--btn-background-color-disable: transparent;
	--btn-text-color-idle: var(--btn-border-color-idle);
}

.btn.btn-outline:hover:not(.btn-link):not(:disabled):not(.disabled),
.btn.btn-outline.active:not(.btn-link):not(:disabled):not(.disabled),
.btn.btn-outline:focus:not(.btn-link):not(:disabled):not(.disabled) {
	--btn-text-color-hover: var(--light-color);
}


/* BTN COLORS */
.btn.btn-secondary {
	--btn-background-color-idle: var(--secondary-color);
	--btn-background-color-hover: var(--secondary-color-darken);
	--btn-background-color-disable: var(--secondary-color-lighten);

	--btn-border-color-idle: var(--secondary-color);
	--btn-border-color-hover: var(--secondary-color-darken);
	--btn-border-color-disable: var(--secondary-color-lighten);

	--btn-outline-color-focus: var(--secondary-color-faded);
}

.btn.btn-success {
	--btn-background-color-idle: var(--success-color);
	--btn-background-color-hover: var(--success-color-darken);
	--btn-background-color-disable: var(--success-color-lighten);

	--btn-border-color-idle: var(--success-color);
	--btn-border-color-hover: var(--success-color-darken);
	--btn-border-color-disable: var(--success-color-lighten);

	--btn-outline-color-focus: var(--success-color-faded);
}

.btn.btn-danger {
	--btn-background-color-idle: var(--danger-color);
	--btn-background-color-hover: var(--danger-color-darken);
	--btn-background-color-disable: var(--danger-color-lighten);

	--btn-border-color-idle: var(--danger-color);
	--btn-border-color-hover: var(--danger-color-darken);
	--btn-border-color-disable: var(--danger-color-lighten);

	--btn-outline-color-focus: var(--danger-color-faded);
}

.btn.btn-warning {
	--btn-background-color-idle: var(--warning-color);
	--btn-background-color-hover: var(--warning-color-darken);
	--btn-background-color-disable: var(--warning-color-lighten);

	--btn-border-color-idle: var(--warning-color);
	--btn-border-color-hover: var(--warning-color-darken);
	--btn-border-color-disable: var(--warning-color-lighten);

	--btn-outline-color-focus: var(--warning-color-faded);
	--btn-text-color-idle: var(--dark-color);
	--btn-text-color-hover: var(--light-color);
}

.btn.btn-info {
	--btn-background-color-idle: var(--info-color);
	--btn-background-color-hover: var(--info-color-darken);
	--btn-background-color-disable: var(--info-color-lighten);

	--btn-border-color-idle: var(--info-color);
	--btn-border-color-hover: var(--info-color-darken);
	--btn-border-color-disable: var(--info-color-lighten);

	--btn-outline-color-focus: var(--info-color-faded);
}

.btn.btn-light {
	--btn-background-color-idle: var(--light-color);
	--btn-background-color-hover: var(--light-color-darken);
	--btn-background-color-disable: var(--light-color-lighten);

	--btn-border-color-idle: var(--light-color);
	--btn-border-color-hover: var(--light-color-darken);
	--btn-border-color-disable: var(--light-color-lighten);

	--btn-outline-color-focus: var(--light-color-faded);
	--btn-text-color-idle: var(--dark-color);
}

.btn.btn-outline.btn-light {
	--btn-border-color-idle: var(--light-color-darken);
}

.btn.btn-dark {
	--btn-background-color-idle: var(--dark-color);
	--btn-background-color-hover: var(--dark-color-darken);
	--btn-background-color-disable: var(--dark-color-lighten);

	--btn-border-color-idle: var(--dark-color);
	--btn-border-color-hover: var(--dark-color-darken);
	--btn-border-color-disable: var(--dark-color-lighten);

	--btn-outline-color-focus: var(--dark-color-faded);
}

.btn.btn-light,
.btn.btn-dark {
	--btn-disable-color: var(--grey-color);
	--btn-text-disabled: var(--dark-color);
}


/* BTN LINK */
.btn.btn-link {
	--btn-background-color-idle: transparent;
	--btn-background-color-hover: transparent;
	--btn-background-color-disable: transparent;

	--btn-border-color-idle: transparent;
	--btn-border-color-hover: transparent;
	--btn-border-color-disable: transparent;

	--btn-text-color-idle: var(--primary-color);
	--btn-text-color-hover: var(--primary-color);
	
	border-width: 0;
	margin: 1px;
}

.btn.btn-link:hover,
.btn.btn-link.active,
.btn.btn-link:focus {
	text-decoration: underline;
}

.btn.btn-link.disabled,
.btn.btn-link:disabled {
	text-decoration: none !important;
	--btn-text-disabled: var(--grey-color-lighten);
}


/* BTN SIZES */
.btn.btn-lg {
	font-size: 21px;
	--btn-size: 1rem 1.75rem;
}

.btn.btn-sm {
	font-size: 14px;
	--btn-size: 0.175rem .325rem;
}